@font-face {
  font-family: "Red-Hat-Text";
  src: url("../assets/fonts/static/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "Red-Hat-Text";
  font-weight: 600;
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf");
}

@font-face {
  font-family: "Red-Hat-Text";
  font-weight: 700;
  src: url("../assets/fonts/static/RedHatText-Bold.ttf");
}
