.eco-comment {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  background-color: var(--rose100);
  border-radius: 8px;
  margin-bottom: 24px;

  @media screen and (max-width: $bp-small-desktop) {
    padding: 16px 20px;
  }
}
