.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto 100px;

  @media screen and (max-width: $bp-small-desktop) {
    gap: 20px;
  }

  @media screen and (max-width: $bp-tablet) {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
}
